<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!-- Formulário -->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Produto</h1>
        </div>
        <div class="card-body">
            <form action="/produtos/new" method="post">
                <label>Nome do Produto</label>
                <input type="text" name="nome" placeholder="Nome do Produto" class="form-control" required>
                <label>Preço</label>
                <input type="number" name="preco" placeholder="Preço do Produto" class="form-control" required>
                <label>Categoria</label>
                <input type="text" name="categoria" placeholder="Categoria do Produto" class="form-control" required>
                <br>
                <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Produtos</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome:</th>
                            <th>Preço:</th>
                            <th>Categoria:</th>
                            <th colspan="2" style="text-align: center;">Ações:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% produtos.forEach(produto => { %>
                        <tr>
                            <td><img src="imgs/product.png" width="30px"></td>
                            <td><%= produto.nome %></td>
                            <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><%= produto.categoria %></td>
                            <td>
                                <a href="/produtos/edit/<%= produto.id%>" onclick="return confirm('Deseja mesmo alterar o produto <%= produto.nome%>?')" class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                                <a href="/produtos/delete/<%= produto.id%>" onclick="return confirm('Deseja mesmo excluir o produto <%= produto.nome%>?')" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
