<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar Produto</h1>
            <hr>
            <form action="/produtos/update/<%= produto.id%>" method="post">
                <label>Nome do produto:</label>
                <input type="text" name="nome" class="form-control" value="<%= produto.nome%>" required>
                <label>Valor do produto:</label>
                <input type="number" name="preco" class="form-control" value="<%= produto.preco%>" required>
                <label>Categoria do produto:</label>
                <input type="text" name="categoria" class="form-control" value="<%= produto.categoria%>" required>
                <input type="hidden" name="id" value="<%= produto.id%>"> 
                <br>
                <input type="submit" value="Alterar" class="btn btn-warning">
            </form>
            <hr>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>
